<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAzVS3eKntYCl8sLlbpTEfdT8QrE-qGy6c</string>
	<key>GCM_SENDER_ID</key>
	<string>790150905700</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fscozano.cicciofn</string>
	<key>PROJECT_ID</key>
	<string>jimv01</string>
	<key>STORAGE_BUCKET</key>
	<string>jimv01.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:790150905700:ios:8bb551f6e39320809b8471</string>
</dict>
</plist>